<%= form_for(@advartisment) do |f| %>
  <% if @advartisment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advartisment.errors.count, "error") %> prohibited this advartisment from being saved:</h2>

      <ul>
      <% @advartisment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :published %><br>
    <%= f.date_select :published %>
  </div>
  <div class="field">
    <%= f.label :expire %><br>
    <%= f.date_select :expire %>
  </div>
  <div class="field">
    <%= f.label :employer_id %><br>
    <%= f.text_field :employer_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
