<h1>Listing advartisments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published</th>
      <th>Expire</th>
      <th>Employer</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @advartisments.each do |advartisment| %>
      <tr>
        <td><%= advartisment.title %></td>
        <td><%= advartisment.description %></td>
        <td><%= advartisment.published %></td>
        <td><%= advartisment.expire %></td>
        <td><%= advartisment.employer %></td>
        <td><%= advartisment.category %></td>
        <td><%= link_to 'Show', advartisment %></td>
        <td><%= link_to 'Edit', edit_advartisment_path(advartisment) %></td>
        <td><%= link_to 'Destroy', advartisment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advartisment', new_advartisment_path %>
