<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advartisment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advartisment.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @advartisment.published %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @advartisment.expire %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @advartisment.employer %>
</p>

<p>
  <strong>Category:</strong>
  <%= @advartisment.category %>
</p>

<%= link_to 'Edit', edit_advartisment_path(@advartisment) %> |
<%= link_to 'Back', advartisments_path %>
